@charset "UTF-8";
/* Style for *Emotionally Intelligent Artifice* Designed by Reed O'Beirne */

/* Body */
body {
    background-color: black;
    margin: 3px;
    margin: auto; 
    padding-top: 10px;
    padding-bottom: 100px;
    max-width: 90%;

    color: #b3b8bc;
/*	text-shadow: 2px 2px 1px #d2d2d2;*/
    text-shadow: 0.5px 0.5px 0.5px #656565;
	font-style: normal;
	font-weight: 100;
}



/* ::::::::::::::: */
    a:link { color: white; 
    text-decoration: underline; 
    text-decoration-style:dashed; } 

    a:visited { color: white; 
    text-decoration: none; }  

    a:hover {color: #3feee6;  
    text-decoration: underline;}  /* Cyan */

    a:active {color: #55bcc9;  }  /* Darker Blue */


/* ::::::::::::::: */

@font-face {
    font-family: 'computer_7regular';
    src: url('../fontz/computer_7-webfont.woff2') format('woff2'),
         url('../fontz/computer_7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'space_monoregular';
    src: url('../fontz/spacemono-regular-webfont.woff2') format('woff2'),
         url('../fontz/spacemono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* ::::::::::::::: */

.eia-mainbox {                  /* .eia-mainbox to center content  */
    margin: auto; 
	max-width: 1000px;
    padding: 0.5em;
    padding-left: 1em;
    padding-bottom: 2em;
    border: 4px solid #656565; 
    border-radius: 3.6vw;  /* curves the box edges */
}


.main-img {
	display: block;
	margin-left: auto;  /* in combination    */
	margin-right: auto; /* margin-left/right set to AUTO will center the image within .imgbox */
	max-width: 82vw;  /* supposedly needs to be smaller than then .imgbox max-width . */ 
	border-radius: 3.6vw;  /* curves the box edges */
	}


/* :::::: FIRST PAGE ::::::::: */


.eia-intro-text{
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.3em;
    line-height: 1.65em;
    letter-spacing: 0.06em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
/*    border: 1px solid pink;*/
}

.eia-choices-block{
    padding: 3vh;
    font-family: 'computer_7regular', Veranda, monospace;
    color: white;
    font-size: 2em;
    line-height: 2em;
    letter-spacing: 0.2em;
    background-color: #fc4445; /* Orange Box */
    border-radius: 3.6vw;  /* curves the box edges */
}



/* :::::: SECOND PAGE ::::::::: */


.textbox-relative{
    position: relative;  /* step-1 to place the text on the image/canvas .   )*/
/*border: 1px solid red;*/

}


.textbox-absolute {  /* step-2 to place the text on the image/canvas, as per https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_text_blocks  */
    position: absolute;
    top:  0vh;
    left: auto;
    font-family: 'space_monoregular', Arial, sans-serif;
    font-size: 1.3em;
    line-height: 1.65em;
    letter-spacing: 0.06em;
    padding: 0.5em;
    padding-left: 1em;
    border-radius: 3.6vw;  /* curves the box edges */



/*border: 2px solid pink;*/
}








    
    
    






